body {
    font-family: "Open Sans", "sans serif";
    background-color: #f9fafc;
    padding-left: 7px;
}

header {
    padding: 7px;
}

nav a {
    font-family: "Open Sans", "sans serif";
    color: #69696a;
    list-style: none; 
    text-decoration: none; 
    display: flex;
    flex-direction: column;
    padding: 7px;
    font-size: 14px;
    font-weight: 300;
}

.hire-us {
    background-color: #000;
    color: #FFF;
    border-radius: 15px;
    padding: 10px 24px;
    text-align: center;
    width: 100%;
    font-family: "Open Sans", "sans serif";
    font-size: 14px;
}

.scroll {
    background-color: #000;
    color: #FFF;
    border-radius: 15px;
    padding: 10px 24px;
    text-align: center;
    width: 100%; 
    font-family: "Open Sans", "sans serif";
    font-size: 14px;
}

h2 {
    font-weight: 400;
}

p {
    color: #69696a;
    border-left: solid;
    padding-left: 12px;
    font-weight: 300;
}