/*@font-face {
	font-family: Open Sans;
    src: url(https://fonts.google.com/specimen/Open+Sans);
}*/

body {
    font-family: "open sans", sans-serif;
    background-color: #f9fafc;
}

nav a {
  color: #69696a;
  list-style: none; 
  text-decoration: none; 
  display: flex;
  flex-direction: column;
  padding: 7px;
  font-size: 15px;
}

.hire-us {
    background-color: #000;
    color: #FFF;
    border-radius: 15px;
    padding: 10px 24px;
    text-align: center;
    width: 100%;
}

.scroll {
    background-color: #000;
    color: #FFF;
    border-radius: 15px;
    padding: 10px 24px;
    text-align: center;
    width: 100%; 
}

p {
    color: #69696a;
    border-left: 2px solid;
    padding: 12px;
}